/** 以下マスのスタイル **/
@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@700&display=swap');

.masu{
    width: 20rem;
    height: 24rem;
    position: relative;
    border: 6px solid rgba(54, 180, 16, 0.795);
}
.masu .masu-header{
    height:48%;
    background-color: #c1ff7953;
}
    .masu-header .masu-img{
        
        max-height: 100%;
        max-width: 100%;
    }

.masu .masu-body{
    height:52%;
    width: 100%;
}
    .masu-body ul{
        height: 100%;
    }
    .masu-body .masu-title{
        height: 45%;
        width: auto;
        text-align: center;
        
    }
        .masu-title p{
            height: 100%;
            font-size: 1.2rem;
            overflow: auto;
            font-family: 'Zen Maru Gothic', sans-serif;
        }

    .masu-body .masu-contents{
        height: 55%;
        width: 100%;
    }
        .masu-contents .masu-description{
            font-size: 1.0rem;
            height: 80%;
            width: 100%;
            overflow: auto;
        }

.masu .masu-creator{
    font-family: 'Zen Maru Gothic', sans-serif;
    bottom: 0%;
    right: 5%; 
    position: absolute;
    
    text-align:end;
    font-size: 1.0rem;
}

.masu .masu-event{
    position: absolute;
    width:30%;
    right: 0%; 
    top: 40%;
}

    .masu-event img{
        position: absolute;
        box-sizing:content-box;
        top: 50%;
        left: 50%;
        transform:translateX(-50%) translateY(-50%);
        width: 100%;
    }
    .masu-event p{
        position: absolute;
        width: 100%;
        text-align: center;
        top: 50%;
        left: 50%;
        transform:translateX(-50%) translateY(-50%);
        font-size: 20px;
        text-shadow:1px 1px 0 #FFF, -1px -1px 0 #FFF,
              -1px 1px 0 #FFF, 1px -1px 0 #FFF,
              0px 1px 0 #FFF,  0 -1px 0 #FFF,
              -1px 0 0 #FFF, 1px 0 0 #FFF;
    
    }
/** マスのスタイルここまで **/