<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>イベント詳細</title>
    <link rel="stylesheet" th:href="@{/css/display.css}">
    <link rel="stylesheet" th:href="@{/css/admin.css}">
    <!-- bootstrapを使用する際には下２行を追加 -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.2/css/bootstrap.min.css}">
    <script th:src="@{/webjars/bootstrap/5.1.2/js/bootstrap.min.js}" type="text/javascript"></script>

    
</head>

<body class="body">


<div class="mt-3 mb-3 d-flex justify-content-center">
    <h1 class="page_title">イベント詳細</h1>
</div>
<div class="discription">
    [[${event.name}]]についての詳細設定画面です。<br>
    参加者の編集、マス承認を行うことができます。<br>
    マス作成権限の有効期限は、[[${event.limitDate}]]です。<br>
    <div th:if="${ubool}">
    管理者ID：[[${user.name}]]<br>
    管理者パスワード：[[${user.password}]]
    </div>
</div>
<div class="admin-menu">
    <div>
        <h2>承認済みマス一覧</h2>
        <form th:action="@{/admin/event/{eventId}/squarelist(eventId=${eventid})}" method="get">
            <input type="submit" class="btn btn--orange-ad btn--cubic btn--shadow" value="マスを確認する">
        </form>
    </div>
    <div>
        <h2><br>[[${str1}]]</h2>
        <form th:action="@{/admin/event/{eventId}/approve(eventId=${eventid})}" method="get">
            <input type="submit" class="btn btn--orange-ad btn--cubic btn--shadow" value="マスを承認する">
        </form>
    </div>

    
    
    <h2><br>参加者を追加する</h2>
    
    <div th:if="${bool}">
        <font color="red">
            <h5>同じログインIDは使用出来ません。</h5></font>
    <form role="form" th:action="@{/admin/event/{eventId}/creator/register(eventId=${eventid})}" th:object="${scform}" method="post">
        <table class="table">
            <tr>
                <td><label>名前: </label></td>
                <td><input type="text" required th:field="*{name}" /></td>
            </tr>
            <tr>
                <td><label>ログインID: </label></td>
                <td><input type="text" required th:field="*{loginId}" /></td>
            </tr>
        </table>
        <input type="submit" value="追加" class="btn btn--orange-ad btn--cubic btn--shadow" />
    </form>
</div>
<div th:if="${bool eq false}"><font color="red">
    <h4>終了済みイベントのため参加者を追加出来ません</h2></font>
</div>
    <h2><br>参加者一覧</h2>
    <h3>[[${str2}]]</h3>
    <h5>未設定の場合：ニックネームは空欄、<br>
        グループは未割当てと表示されます。<br>
        下のボタンで参加者情報をクリップボードにコピー出来ます。<br>
        Excelに貼り付けられます。</h5>
    
        <form>
            <input onclick="copy()" class="btn btn--orange-ad btn--cubic btn--shadow" value="コピー">
        </form>
        <div class="sankasha">
                    <div class="table1">
        <table border="1" class="table" id="optional">
            <tr>
                <th>ログインID</th>
                <th>ニックネーム</th>
                <th>グループ</th>
            </tr>
            <tr th:each="clist: ${clist}">
                <td>[[${clist.loginId}]]</td>
                <td>[[${clist.nickname}]]</td>
                <td th:if="${clist.group == 0}">未割当て</td>
                <td th:if="${clist.group != 0}">[[${clist.group}]]</td>
                </td>
            </tr>
        </table></div>
        <div class="table2">
        <table border="1" class="table">
            <tr>
                <th>削除</th>
            </tr>
            <tr th:each="clist: ${clist}">
                <td><a th:href=@{/admin/event/{eventId}/creator/delete/confirm/{creatorId}(eventId=${eventid},creatorId=${clist.creatorId})}>削除</a>
                </td>
            </tr>
        </table></div>
    </div>
        <br>
        <form th:action="@{/admin/event/{eventId}/edit(eventId=${eventid})}" method="get">
            <input type="submit" class="btn btn--orange-ad btn--cubic btn--shadow" value="イベント情報を修正する">
        </form>
        <br>
        <form th:action="@{/admin/menu/}" method="get">
            <input type="submit" class="btn btn--orange-ad btn--cubic btn--shadow" value="管理者メニューに戻る">
        </form>
    </div>
</body>
<script>
    function copy() {
        //p要素の文字列を取得
        var text = document.getElementById("optional").innerText;

        //textareaを生成
        var area = document.createElement("textarea");

        //p要素の内容をtextareaに記述
        area.textContent = text;

        //生成したものをdocumentに追加
        document.body.appendChild(area);

        //選択/コピーして・・
        area.select();
        document.execCommand("copy");

        //すぐに消す。
        document.body.removeChild(area);
    }
</script>
</html>