<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>イベント詳細</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <!-- bootstrapを使用する際には下２行を追加 -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.2/css/bootstrap.min.css}">
    <script th:src="@{/webjars/bootstrap/5.1.2/js/bootstrap.min.js}" type="text/javascript"></script>

    <!-- 背景設定用CSS   -->
    <style th:inline="text">
        body {
            background: url([[@{/img/baloon.png}]]);
            background-size: cover;
            background-attachment: fixed;
        }


    </style>

</head>

<body>
<!-- ヘッダー -->
<!--  マス作成画面へのリンクは未実装  -->
<nav class="navbar navbar-expand navbar-light fixed-top" style="background-color: white; border-bottom: darkblue medium solid">
    <a class="navbar-brand" th:href="@{/}">
        <img th:src="@{/img/icon.png}" class="d-inline-block align-top" alt="" style="width: 50px; height: 50px; margin-left: 20px;">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" style="width: auto; height: auto">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a th:href=@{/admin/createEvent} class="nav-link">イベント作成</a>
            </li>
            <li class="nav-item">
                <a th:href=@{/admin/event/__${eventid}__} class="nav-link">イベント詳細</a>
            </li>
            <li class="nav-item">
                <a th:href=@{/admin/event/__${eventid}__/approve} class="nav-link">マス承認</a>
            </li>
            <li class="nav-item">
                <a th:href=@{/admin/menu} class="nav-link">メニュー</a>
            </li>

        </ul>
    </div>
</nav>

<div class="title-center">
    <h1 class="sample_h_14">イベント詳細</h1>
</div>
<div class="discription">
    [[${event.name}]]についての詳細設定画面です。<br>
    参加者の編集、マス承認を行うことができます。<br>
    マス作成権限の有効期限は、[[${event.limitDate}]]です。<br>
</div>

    <div>
        <h3>[[${str1}]]</h3>
        <a th:href=@{/admin/event/{eventId}/approve(eventId=${eventid})}>マスを承認する</a>
    </div>
   
    
    <h2>参加者を追加する</h2>
    
    <div th:if="${bool}">
        <font color="red">
            <h5>同じログインIDは使用出来ません。</h5></font>
    <form role="form" th:action="@{/admin/event/{eventId}/creator/register(eventId=${eventid})}" th:object="${scform}" method="post">
        <table>
            <tr>
                <td><label>名前: </label></td>
                <td><input type="text" required th:field="*{name}" /></td>
            </tr>
            <tr>
                <td><label>ログインID: </label></td>
                <td><input type="text" required th:field="*{loginId}" /></td>
            </tr>
        </table>
        <input type="submit" value="追加" class="btn-submit"/>
    </form>
</div>
<div th:if="${bool eq false}"><font color="red">
    <h2>終了済みイベントのため参加者を追加出来ません</h2></font>
</div>
    <h2>参加者一覧</h2>
    <h3>[[${str2}]]</h3>
    <h3>未設定の場合：ニックネームは空欄、グループは0と表示されます。</h3>
        <table border="1">
            <tr>
                <th>名前</th>
                <th>ニックネーム</th>
                <th>ログインID</th>
                <th>グループ</th>
                <th>操作</th>
            </tr>
            <tr th:each="clist: ${clist}">
                <td>[[${clist.name}]]</td>
                <td>[[${clist.nickname}]]</td>
                <td>[[${clist.loginId}]]</td>
                <td>[[${clist.group}]]</td>
                <td><a th:href=@{/admin/event/{eventId}/creator/delete/confirm/{creatorId}(eventId=${eventid},creatorId=${clist.creatorId})}>削除</a>
                </td>
            </tr>
        </table>
        <br>
        <a th:href=@{/admin/event/{eventId}/edit(eventId=${eventid})}>イベント情報を修正する</a>
        <a th:href=@{../menu}>管理者メニューに戻る</a>
</body>
</html>