<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>メニュー</title>
    <link rel="stylesheet" th:href="@{/css/display.css}">
</head>
<body>
    <div class="parent">
        <div>
            <h1>作成者メニュー</h1>
            <h2>[[${nickname}]]さん、ようこそ！</h2>
            <div th:if="${bool}"><h2>マス作成は[[${event.limitDate}]]まで出来ます</h2></div>
            <div th:if="${bool eq false}"><font color="red">
                <h2>マス作成期限([[${event.limitDate}]])を超えたためマス作成出来ません</h2></font>
            </div>
        </div>
        <div>
            <form th:action="@{/__${cid}__/config}" method="get">
                <input type="submit" class="button" value="すごろくで遊ぶ">
            </form>
            <form th:action="@{/__${cid}__/squares}" method="get">
                <input type="submit" class="button" value="マス一覧">
            </form>
            <div th:if="${bool}">
                <form th:action="@{/__${cid}__/create}" method="get">
                    <input type="submit" class="button" value="マス作成">
                </form>
            </div>
            <div th:if="${bool eq false}">
                <form th:action="@{/__${cid}__/create}" method="get">
                    <input type="submit" class="button" value="マス作成" disabled="disabled">
                </form>
            </div>
            <form th:action="@{/__${cid}__/detail}" method="get">
                <input type="submit" class="button" value="詳細設定">
            </form>
            <form th:action="@{/}" method="get">
                <input type="submit" class="button" value="トップページに戻る">
            </form>
            <!-- <button onclick="location.href='/config'">すごろくで遊ぶ</button>
            <button onclick="location.href='/__${cid}__/squares'">マス一覧</button>
            <button onclick="location.href='/__${cid}__/create'">マス作成</button>
            <button onclick="location.href='/'">トップページ</button> -->
        </div>
    </div>
</body>
</html>