<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>詳細設定</title>

    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}">
   <!-- bootstrapを使用する際には下２行を追加 -->
   <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.2/css/bootstrap.min.css}">
   <script th:src="@{/webjars/bootstrap/5.1.2/js/bootstrap.min.js}" type="text/javascript"></script>

    <!-- 背景設定用CSS   -->
    <style th:inline="text">
        body {
            background: url([[@{/img/baloon.png}]]);
            background-size: cover;
            background-attachment: fixed;
            background-color: rgba(255, 255, 255, 0.5);
            background-blend-mode: lighten;
        }
    </style>
</head>

<body>
<!-- ヘッダー -->
<nav class="navbar navbar-expand navbar-light ">
    <a class="navbar-brand" th:href="@{/}">
        <img th:src="@{/img/icon.png}" class="d-inline-block align-top" alt="">

    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"
        style="width: auto; height: auto">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <!-- 以下，一般ユーザ・管理者の選択肢 -->
            <li th:if="${roll == 'user'}" class="nav-item active">
                <a class="nav-link" th:href="@{/config}">
                    <img th:src="@{/img/header_sugoroku.png}">
                    <div>すごろくで遊ぶ</div>
                </a>
            </li>
            <li th:if="${roll == 'user'}" class="nav-item active">
                <a class="nav-link" th:href="@{/squares}">
                    <img th:src="@{/img/header_masulist.png}">
                    <div>マスを見る</div>
                </a>
            </li>

            <!-- 以下，マス作成者の選択肢 -->
            <li th:if="${roll == 'creator'}" class="nav-item active">
                <a class="nav-link" th:href="@{/__${cid}__/config}">
                    <img th:src="@{/img/header_sugoroku.png}">
                    <div>すごろくで遊ぶ</div>
                </a>
            </li>
            <li th:if="${roll == 'creator'}" class="nav-item active">
                <a class="nav-link" th:href="@{/__${cid}__/squares}">
                    <img th:src="@{/img/header_masulist.png}">
                    <div>マスを見る</div>
                </a>
            </li>
            <li th:if="${roll == 'creator'}" class="nav-item active">
                <a class="nav-link" th:href="@{/__${cid}__/create}">
                    <img th:src="@{/img/header_create.png}">
                    <div>マスを作る</div>
                </a>
            </li>
        </ul>
    </div>
</nav>

<div class="title-center">
    <h1 class="sample_h_14">作成者詳細設定</h1>
</div>
<div class="discription">
    ニックネームとグループ番号を設定してください。
</div>
    <div class="login-container">
        <div  class="form-box">
            <form th:action="@{/__${creatorId}__/update}" method="post" th:object="${updateSquareCreatorForm}">
                <tr>
                    <td><label style="font-weight: bold; color: #6091d3;">グループ: </label></td>
                <select id="selectedGroup" name="selectedGroup" required>

                <option value="グループを選択" style="font-weight: bold; color: #6091d3;">- グループを選択してください -</option>
                <option th:each="g: ${groups}"
                        th:value="${g}"
                        th:text="${g}"
                        th:selected="${g == updateSquareCreatorForm.selectedGroup}"></option>
                </option>
            </select>
            </tr>
            <br>
                <br>
            <tr>
                <td><label style="font-weight: bold; color: #6091d3;">ニックネーム: </label></td>
                <td><input type="text" th:field="*{nickname}" required class="form-control"/></td>
            </tr>
                <p><button class="btn btn-info btn-block login" type="submit">登録</button></p>
            </form>
        </div>
    </div>
</body>
</html>