<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>マス作成</title>
    <link rel="stylesheet" th:href="@{/css/display.css}">
    <link rel="stylesheet" th:href="@{/css/border.css}">
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <script src="https://cdn.jsdelivr.net/gh/fengyuanchen/compressorjs/dist/compressor.min.js"></script>
    <!-- bootstrapを使用する際には下２行を追加 -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.2/css/bootstrap.min.css}">
    <script th:src="@{/webjars/bootstrap/5.1.2/js/bootstrap.min.js}" type="text/javascript"></script>
</head>

<body>
    <!-- ヘッダー -->
    <nav class="navbar navbar-expand navbar-light fixed-top " style="background-color: #ceff85">
        <a class="navbar-brand" href="/">
            <img src="/img/logo.png" width="150" height="50" class="d-inline-block align-top" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"
            style="width: auto; height: auto">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/config">すごろくで遊ぶ<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/squares">マス一覧</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">マス作成</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Dropdown link
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="title-center">
        <h1 class="title-underline">マス作成</h1>
    </div>
    <div class="d-flex align-items-start justify-content-center   flex-wrap">
        <div class=" bd-highlight ">
            <div class="card">
                <div class="card-header">
                    <form role="form" th:action="@{/{c}/create/confirm(c=${cid})}" th:object="${SquareForm}"
                        method="post">
                        <table>
                            <tr>
                                <td><label>タイトル: </label></td>
                                <td><input type="text" size="40" placeholder="例)フルーツ狩りを楽しんだ!"
                                    maxlength="50" id="titleInput" required th:field="*{title}" /></td>
                            </tr>
                            <tr>
                                <td><label>説明: </label></td>
                                
                                <td><textarea id="textInput" placeholder="例)三田市にはフルーツショップがいっぱいあります"
                                    rows="5" cols="50" maxlength="256" required th:field="*{description}" />
                                </td>
                            </tr>
                            <tr>
                                <td><label>マスイベント: </label></td>
                                <td>
                                    <select required th:field="*{squareEventId}" id="eventInput">

                                        <option required th:each="se:${SquareEventList}" th:value="${se.squareEventID}"
                                            th:text="${se.eventTitle}"
                                            th:selected="${se.squareEventID == selectedValue}">
                                        </option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><label>画像: </label></td>
                                <td id="dragDropArea">
                                    <div class="drag-drop-inside">
                                        <p class="drag-drop-info">ここにファイルをドロップ</p>
                                        <p>または</p>
                                        <p class="drag-drop-buttons">
                                            <input id="fileInput" type="file" accept="image/*" value="ファイルを選択"
                                                name="photo" onChange="photoPreview(event)">
                                        </p>
                                        <div id="previewArea"></div>
                                    </div>
                                </td>
                                <td><input type="text" th:field="*{picture}" id="pic" hidden /></td>
                            </tr>

                        </table>
                        <p style="text-align: center;"><input type="submit" value="確認" class="btn-submit" /></p>
                    </form>
                    <a th:href=@{/__${cid}__/menu}>メニューへ戻る</a>
                </div>
            </div>
        </div>
        <div class="bd-highlight mb-3 ms-5 lb-3 ls-3">
            <h2 class="font-comic">でき上がるマス</h2>
            <div class="card border border-success border-3 shadow-sm " style="width: 18rem;">
                <img th:src="@{/img/cat.png}" class="card-img-top" id="imgMasu" width="300px">
                <div class="card-body">
                    <h5 class="card-title " id="titleMasu">マスのタイトル</h5>
                    <p class="card-text " id="textMasu">詳しい説明</p>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="border rounded-circle float-end bg-primary bg-opacity-25 position-relative"
                        style="width:5rem;height:5rem;">
                        <span class="position-absolute top-50 start-50 translate-middle text-nowrap" id="eventMasu">
                            aaa
                        </span>
                    </div>
                </div>

            </div>
        </div>

    </div>

</body>
<!-- 作成マスのプレビューに関するスクリプト -->
<script>
    // タイトル
    const titleInput = document.getElementById("titleInput");
    const titleMasu = document.getElementById("titleMasu");
    titleInput.addEventListener("input", (e) => {
        titleMasu.textContent = e.target.value;
    })
    titleInput.addEventListener("focus", (e) => {
        //枠線の有無，色，太さ，パディング，破線,角丸
        titleMasu.classList.add("border", "border-danger", "border-5", "p-3", "dashed", "rounded");
    })
    titleInput.addEventListener("blur", (e) => {
        titleMasu.classList.remove("border", "border-danger", "border-5", "p-3", "dashed", "rounded");
    })
    //説明
    const textInput = document.getElementById("textInput");
    const textMasu = document.getElementById("textMasu");
    textInput.addEventListener("input", (e) => {
        textMasu.textContent = e.target.value;
    })
    textInput.addEventListener("focus", (e) => {
        //枠線の有無，色，太さ，パディング，破線,角丸
        textMasu.classList.add("border", "border-danger", "border-5", "p-3", "dashed", "rounded");
    })
    textInput.addEventListener("blur", (e) => {
        textMasu.classList.remove("border", "border-danger", "border-5", "p-3", "dashed", "rounded");
    })

    //マスイベント
    const eventInput = document.getElementById("eventInput");
    const eventMasu = document.getElementById("eventMasu");
    eventInput.addEventListener("focus", (e) => {
        //枠線の有無，色，太さ，パディング，破線,角丸
        eventMasu.classList.add("border", "border-danger", "border-5", "p-3", "dashed", "rounded");
    })
    eventInput.addEventListener("blur", (e) => {
        eventMasu.classList.remove("border", "border-danger", "border-5", "p-3", "dashed", "rounded");
    })
    eventInput.addEventListener("change",(e)=>{

        eventMasu.textContent = eventInput.options[eventInput.selectedIndex].text;
    })
</script>

<!-- 画像アップロードに関するスクリプト -->
<script>
    var fileArea = document.getElementById('dragDropArea');
    var fileInput = document.getElementById('fileInput');
    fileArea.addEventListener('dragover', function (evt) {
        evt.preventDefault();
        fileArea.classList.add('dragover');
    });
    fileArea.addEventListener('dragleave', function (evt) {
        evt.preventDefault();
        fileArea.classList.remove('dragover');
    });
    fileArea.addEventListener('drop', function (evt) {
        evt.preventDefault();
        fileArea.classList.remove('dragenter');
        var files = evt.dataTransfer.files;
        console.log("DRAG & DROP");
        console.table(files);
        fileInput.files = files;
        photoPreview('onChenge', files[0]);
    });
    function photoPreview(event, f = null) {
        var file = f;
        if (file === null) {
            file = event.target.files[0];
        }
        var reader = new FileReader();
        var preview = document.getElementById("previewArea");
        var previewImage = document.getElementById("previewImage");
        var imgMasu = document.getElementById("imgMasu");

        if (previewImage != null) {
            preview.removeChild(previewImage);
        }
        //画像ファイルを圧縮する
        const pressQuality = 0.8;
        const compressedImg = new Compressor(file, {
            quality: pressQuality,
            success(result) {
                var img = document.createElement("img");

                const reader = new FileReader()
                reader.onload = (event) => {
                    img.setAttribute("src", reader.result);
                    img.setAttribute("id", "previewImage");
                    img.setAttribute("width", "300");//画像の幅を300に固定
                    preview.appendChild(img);
                    document.getElementById("pic").value = img.src;

                    //作成マスプレビューの画像を設定
                    imgMasu.setAttribute("src", reader.result);
                    console.log("圧縮率:" + pressQuality)
                    console.log(result)
                }
                reader.readAsDataURL(result)
            },
            maxWidth: 300,
            maxHeight: Infinity,
            mimeType: "auto",
            error(err) {
                console.log(file);
                console.log(err.message);
            }
        })
    }
</script>

</html>