<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>マス一覧</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- bootstrapを使用する際には下２行を追加 -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.2/css/bootstrap.min.css}">
    <script th:src="@{/webjars/bootstrap/5.1.2/js/bootstrap.min.js}" type="text/javascript"></script>
    <link rel="stylesheet" th:href="@{/css/display.css}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/page_squarelist.css}">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Round" rel="stylesheet">
    <link rel="stylesheet" href="https://es4.eedept.kobe-u.ac.jp/miraisugoroku_newiine_app/newiine.css">
</head>

<body class="body">
    <!-- ヘッダー -->
    <div th:replace="header :: header"></div>

    <div class="mt-3 mb-3 d-flex justify-content-center">
        <div class="page_title"><a>みんなが作ったマス</a></div>
    </div>
    <div class="discription">
        みんなが作ったマスを見ることができます。<br>
        きょう味のある場所やイベントについて調べてみてください。
    </div>

    <div class="d-flex flex-column">
        <div class="flex-item">
            <form role="search" method="get" class="searchform" th:action="@{/squares/search/keyword}">
                <label class="screen-reader-text" for="keyword">&emsp;キーワード：</label>
                <div class="d-flex">
                    <div th:if="${(search eq 0) or (search eq 2) or (search eq 3)}">
                        <input type="text" value="" name="keyword" id="keyword" placeholder="キーワードでマスをけんさく">
                    </div>
                    <div th:if="${search eq 1}">
                        <input type="text" th:value="*{kw}" name="keyword" id="keyword" placeholder="キーワードでマスをけんさく">
                    </div>
                    <div>
                        <input type="submit" class="searchsubmit" value="">
                    </div>
                </div>


            </form>
        </div>
        <div class="flex-item">
            <form role="search" method="get" class="searchform flex-item" th:action="@{/squares/search/nickname}">
                <label class="screen-reader-text" for="nickname">&emsp;ニックネーム：</label>
                <div class="d-flex">
                    <div th:if="${(search eq 0) or (search eq 1) or (search eq 3)}">
                        <input type="text" value="" name="nickname" id="nickname" placeholder="マスの作者でマスをけんさく">
                    </div>
                    <div th:if="${search eq 2}">
                        <input type="text" th:value="*{nn}" name="nickname" id="nickname" placeholder="マスの作者でマスをけんさく">
                    </div>
                    <input type="submit" class="searchsubmit" value="">
                </div>

            </form>
        </div>
        <form role="search" method="get" class="searchform" th:action="@{/squares/search/event}">
            <input th:value="*{event}" id="eventname" hidden>
            <input th:value="*{sentaku}" id="eventy" hidden>
            <input th:value="*{search}" id="event" hidden>
            <div>
                <label class="screen-reader-text" for="nickname">&emsp;イベント</label>
                <div class="d-flex">
                    <div th:if="${(search eq 0) or (search eq 1) or (search eq 2)}">
                        <select id="selectedYear" name="year">
                            <option th:each="y: ${years}" th:value="${y}" th:text="${y}">
                            </option>
                        </select>
                        <select id="selectedEventId" name="event" required=false>
                            <option value="" class="form-control">- イベントでマスをけんさく -</option>
                        </select>
                    </div>

                    <div th:if="${search eq 3}">
                        <select id="selectedYear" name="year">
                            <option th:each="y: ${years}" th:value="${y}" th:text="${y}"
                                th:selected="${y} == *{sentaku}">
                            </option>
                        </select>
                        <select id="selectedEventId" name="event" required=false>
                            <option value="" class="form-control">- イベントでマスをけんさく -</option>
                        </select>
                    </div>

                    <input type="submit" class="searchsubmit mx-3" value="">
                </div>

            </div>
        </form>
    </div>





    <!--/* ページネーションバー（Redmine参考） */-->
    <nav aria-label="Page navigation2">
        <ul class="pagination pagination-lg justify-content-center">
            <!--/* 前のページ */-->
            <li class="page-item" th:classappend="${page.first} ? 'disabled'">
                <a th:href="@{${path}(page=${page.number})}" class=" page-link" th:tabindex="${page.first} ? -1"
                    aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <!-- <span>前のページ</span> -->
                </a>
            </li>

            <!--/* 最初のページ */-->
            <li th:if="${page.number gt 2}" class="page-item">
                <a th:href="@{${path}(page=0)}" class="page-link">1</a>
            </li>

            <!--/* … */-->
            <li th:if="${page.number gt 3}" class="page-item disabled">
                <a href="#" class="page-link">…</a>
            </li>

            <th:block th:each="i : ${ #numbers.sequence(page.number - 2, page.number + 2) }">
                <li th:if="${i ge 0 and i lt page.totalPages}" class="page-item"
                    th:classappend="${i eq page.number} ? 'active'">
                    <a th:href="@{${path}(page=${i+1})}" th:text="${i + 1}" class="page-link"></a>
                </li>
            </th:block>

            <!--/* … */-->
            <li th:if="${page.totalPages gt (page.number + 4)}" class="page-item disabled">
                <a href="#" class="page-link">…</a>
            </li>

            <!--/* 最後のページ */-->
            <li th:if="${page.totalPages gt (page.number + 3)}" class="page-item">
                <a th:href="@{${path}(page=${page.totalPages})}" th:text="${page.totalPages}" class="page-link"></a>
            </li>

            <!--/* 次のページ */-->
            <li class="page-item" th:classappend="${page.last} ? 'disabled'">
                <a th:href="@{${path}(page=${page.number + 2})}" class="page-link" th:tabindex="${page.last} ? -1"
                    aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <!-- <span>次のページ</span> -->
                </a>
            </li>
        </ul>
    </nav>




    <!-- マスリスト -->
    <div class="card pb-5" style="min-width: 22rem; margin-right: auto;margin-left: auto;width: 90vw;">
        <div class="d-flex flex-wrap justify-content-center">
            <div th:each="square: ${square_list}" class="masu mt-5 mb-3 ms-3 lb-3 ls-3">

                <div class="masu-header d-flex justify-content-center">
                    <img th:src="${square.picture}" class="masu-img">

                </div>
                <div class="masu-body">
                    <ul class="list-group ">
                        <li class="masu-title list-group-item">
                            <p class="align-items-center">[[${square.title}]]</p>
                        </li>
                        <li class="masu-contents list-group-item ">
                            <p class="masu-description" id="textMasu">[[${square.description}]]</p>
                            <p class="masu-creator">作者: [[${square.nickName}]]</p>
                        </li>
                    </ul>
                </div>

                <div class="masu-event" th:switch="${square.squareEventId}">
                    <img th:if="${square.squareEffect > 0}" th:src="@{/img/dice_blue.png}">
                    <img th:if="${square.squareEffect < 0}" th:src="@{/img/dice_red.png}">
                    <p th:case="1" class="font-wght700">1マス進む</p>
                    <p th:case="2" class="font-wght700">2マス進む</p>
                    <p th:case="3" class="font-wght700">3マス進む</p>
                    <p th:case="4" class="font-wght700">4マス進む</p>
                    <p th:case="5" class="font-wght700">5マス進む</p>
                    <p th:case="6" class="font-wght700">6マス進む</p>
                    <p th:case="7" class="font-wght700">1マス戻る</p>
                    <p th:case="8" class="font-wght700">2マス戻る</p>
                    <p th:case="9" class="font-wght700">3マス戻る</p>
                    <p th:case="10" class="font-wght700">4マス戻る</p>
                    <p th:case="11" class="font-wght700">5マス戻る</p>
                    <p th:case="12" class="font-wght700">6マス戻る</p>
                    <p th:case="13" class="font-wght700">1回休み</p>
                    <p th:case="15" class="font-wght700">+100<br>ポイント</p>
                    <p th:case="16" class="font-wght700">+200<br>ポイント</p>
                    <p th:case="17" class="font-wght700">+300<br>ポイント</p>
                    <p th:case="18" class="font-wght700">+400<br>ポイント</p>
                    <p th:case="19" class="font-wght700">+500<br>ポイント</p>
                    <p th:case="20" class="font-wght700">-100<br>ポイント</p>
                    <p th:case="21" class="font-wght700">-200<br>ポイント</p>
                    <p th:case="22" class="font-wght700">-300<br>ポイント</p>
                    <p th:case="23" class="font-wght700">-400<br>ポイント</p>
                    <p th:case="24" class="font-wght700">-500<br>ポイント</p>
                </div>
                <div class="masu-iine mt-3">
                    <!-- いいねボタン改ここから -->
                    <button type="submit" class="newiine_btn" th:data-iinename="|squareId:${square.squareId}|">
                        <span class="material-icons-round">favorite</span>
                        <span class="newiine_count"></span>いいね
                    </button>
                    <a th:if="${square.link}" class="button_link" th:href="${square.link}" target="_blank">
                        もっと見てみる
                    </a>
                    <!-- いいねボタン改ここまで -->
                </div>
            </div>
        </div>
    </div>
    <!--/* ページネーションバー（Redmine参考） */-->
    <div class="mt-3">
        <nav aria-label="Page navigation2">
            <ul class="pagination pagination-lg justify-content-center">
                <!--/* 前のページ */-->
                <li class="page-item" th:classappend="${page.first} ? 'disabled'">
                    <a th:href="@{${path}(page=${page.number})}" class=" page-link" th:tabindex="${page.first} ? -1"
                        aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
    
                <!--/* 最初のページ */-->
                <li th:if="${page.number gt 2}" class="page-item">
                    <a th:href="@{${path}(page=0)}" class="page-link">1</a>
                </li>
    
                <!--/* … */-->
                <li th:if="${page.number gt 3}" class="page-item disabled">
                    <a href="#" class="page-link">…</a>
                </li>
    
                <th:block th:each="i : ${ #numbers.sequence(page.number - 2, page.number + 2) }">
                    <li th:if="${i ge 0 and i lt page.totalPages}" class="page-item"
                        th:classappend="${i eq page.number} ? 'active'">
                        <a th:href="@{${path}(page=${i+1})}" th:text="${i + 1}" class="page-link"></a>
                    </li>
                </th:block>
    
                <!--/* … */-->
                <li th:if="${page.totalPages gt (page.number + 4)}" class="page-item disabled">
                    <a href="#" class="page-link">…</a>
                </li>
    
                <!--/* 最後のページ */-->
                <li th:if="${page.totalPages gt (page.number + 3)}" class="page-item">
                    <a th:href="@{${path}(page=${page.totalPages})}" th:text="${page.totalPages}" class="page-link"></a>
                </li>
    
                <!--/* 次のページ */-->
                <li class="page-item" th:classappend="${page.last} ? 'disabled'">
                    <a th:href="@{${path}(page=${page.number + 2})}" class="page-link" th:tabindex="${page.last} ? -1"
                        aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://es4.eedept.kobe-u.ac.jp/miraisugoroku_newiine_app/newiine.js"></script>
</body>
<script th:inline="javascript">
    const dropdownYear = document.getElementById("selectedYear");
    const dropdownEvent = document.getElementById("selectedEventId");
    const eventName = document.getElementById("eventname");
    const eventDropDownChange = () => {
        const selectedYear = dropdownYear.value;
        const allEvents = /*[[${events}]]*/ null;

        while (dropdownEvent.children[1]) {//"イベントを選択してください"以外の要素をすべて削除
            dropdownEvent.removeChild(dropdownEvent.children[1]);
        }

        allEvents.forEach(event => {
            let option = document.createElement("option");
            let date = new Date(event["startDate"]);
            if (date.getFullYear() == selectedYear) {//年度選択のドロップダウンの年度に該当するイベントをリストに入れる
                option.text = event["name"];
                option.value = event["eventId"];
                if (eventName.value == event["name"]) {
                    option.selected = true
                }
                dropdownEvent.appendChild(option);

            }
        });
    }
    eventDropDownChange();//最初に一回実行
    dropdownYear.addEventListener("change", (event) => eventDropDownChange());
</script>

</html>