<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>

</head>

<body>
<!-- ヘッダー -->
<nav th:fragment="header" class="navbar navbar-expand navbar-light ">
    <a class="navbar-brand" th:href="@{/}">
        <img th:src="@{/img/icon.png}" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"
        style="width: auto; height: auto">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <!-- 以下，一般ユーザ・管理者の選択肢 -->
            <li th:if="${roll == 'user'|| roll == 'admin'}" class="nav-item active">
                <a class="nav-link" th:href="@{/config}">
                    <img th:src="@{/img/header_sugoroku.png}">
                    <div>すごろくで遊ぶ</div>
                </a>
            </li>
            <li th:if="${roll == 'user'|| roll == 'admin'}" class="nav-item active">
                <a class="nav-link" th:href="@{/squares}">
                    <img th:src="@{/img/header_masulist.png}">
                    <div>マスを見る</div>
                </a>
            </li>

            <!-- 以下，マス作成者の選択肢 -->
            <li th:if="${roll == 'creator'}" class="nav-item active">
                <a class="nav-link" th:href="@{/__${cid}__/config}">
                    <img th:src="@{/img/header_sugoroku.png}">
                    <div>すごろくで遊ぶ</div>
                </a>
            </li>
            <li th:if="${roll == 'creator'}" class="nav-item active">
                <a class="nav-link" th:href="@{/__${cid}__/squares}">
                    <img th:src="@{/img/header_masulist.png}">
                    <div>マスを見る</div>
                </a>
            </li>
            <li th:if="${roll == 'creator'}" class="nav-item active">
                <a class="nav-link" th:href="@{/__${cid}__/create}">
                    <img th:src="@{/img/header_create.png}">
                    <div>マスを作る　</div>
                </a>
            </li>
        </ul>
    </div>
</nav>

</body>
</html>