<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>未来すごろく(仮)</title>
    <link rel="stylesheet" href="css/display.css">
</head>
    <body>
        <div class="parent">
            <div>
                <h1>未来すごろく(仮)</h1>
            </div>
            <div>
                <button onclick="location.href='/menu'">遊ぶ</button>
                <button onclick="location.href='/loginpage'">作成者はこちら</button>
            </div>
        </div>
    </body>
</html>


