.config {
    background-color: #ffffff;
    /* background-color: #fcf4e0; */
    /*margin-bottom: 1rem;*/
    text-align: center;
    width: 1000px;
    height: auto;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    padding: 10px 5px;
}

/* アイコン選択 */
input[type=radio][value="dog"]+label:before{
    content: "";
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    background-image: url(./img/dog.png);
}
input[type=radio][value="cat"]+label:before{
    background-image: url(./img/cat.png);
    content: "";
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
}
input[type=radio][value="hiyoko"]+label:before{
    background-image: url(./img/hiyoko.png);
    content: "";
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
}
input[type=radio][value="hamster"]+label:before{
    background-image: url(./img/hamster.png);
    content: "";
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
}
input[type=radio][value="zo"]+label:before{
    background-image: url(./img/zo.png);
    content: "";
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
}
input[type=radio][value="penguin"]+label:before{
    background-image: url(./img/penguin.png);
    content: "";
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
}

input[type=radio]:checked+label::before{
    border: 3px solid rgb(0, 0, 0);
    box-sizing: border-box;
}

input[type=radio][value="dog"]{
    display: none;
} 
input[type=radio][value="cat"]{
    display: none;
} 
input[type=radio][value="hiyoko"]{
    display: none;
} 
input[type=radio][value="hamster"]{
    display: none;
} 
input[type=radio][value="zo"]{
    display: none;
} 
input[type=radio][value="penguin"]{
    display: none;
} 

/* 長さ選択ボタン */
.nagasa {
    background-color: rgb(255, 255, 255);
    width: 100px;
    /* margin-bottom: 1rem;
    text-align: left;
    height: auto;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px 5px; */
}

input[type=radio][value="0"]+label:before{
    content: "";
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    width: 140px;
    height: 48px;
}

input[type=radio][value="1"]+label:before{
    content: "";
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    width: 140px;
    height: 48px;
}

input[type=radio][value="2"]+label:before{
    content: "";
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    width: 140px;
    height: 48px;
}

input[type=radio][value="0"]{
    display: none;
} 

input[type=radio][value="1"]{
    display: none;
} 

input[type=radio][value="2"]{
    display: none;
} 

input[type=radio][value="0"]+label:before{
    background-image: url(./img/mijikame.png);
}
input[type=radio][value="1"]+label:before{
    background-image: url(./img/hutu.png);
}
input[type=radio][value="2"]+label:before{
    background-image: url(./img/nagame.png);
}

input[type=radio][value="0"]:checked+label:before{
    background-image: url(./img/mijikameaf.png);
    border: 0px solid rgb(0, 0, 0);
    box-sizing: border-box;
}
input[type=radio][value="1"]:checked+label:before{
    background-image: url(./img/hutuaf.png);
    border: 0px solid rgb(0, 0, 0);
    box-sizing: border-box;
}
input[type=radio][value="2"]:checked+label:before{
    background-image: url(./img/nagameaf.png);
    border: 0px solid rgb(0, 0, 0);
    box-sizing: border-box;
}

/* 使うマスボタン */
input[type=radio][value="none"]+label:before{
    content: "";
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    width: 140px;
    height: 48px;
}

input[type=radio][value="event"]+label:before{
    content: "";
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    width: 140px;
    height: 48px;
}
input[type=radio][value="group"]+label:before{
    content: "";
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    width: 140px;
    height: 48px;
}
input[type=radio][value="none"]{
    display: none;
} 

input[type=radio][value="event"]{
    display: none;
} 
input[type=radio][value="group"]{
    display: none;
} 


input[type=radio][value="none"]+label:before{
    background-image: url(./img/subete.png);
}
input[type=radio][value="event"]+label:before{
    background-image: url(./img/event.png);
}

input[type=radio][value="none"]:checked+label:before{
    background-image: url(./img/subeteaf.png);
    border: 0px solid rgb(0, 0, 0);
    box-sizing: border-box;
}
input[type=radio][value="event"]:checked+label:before{
    background-image: url(./img/eventaf.png);
    border: 0px solid rgb(0, 0, 0);
    box-sizing: border-box;
}
input[type=radio][value="group"]+label:before{
    background-image: url(./img/group.png);
}

input[type=radio][value="group"]:checked+label:before{
    background-image: url(./img/groupaf.png);
    border: 0px solid rgb(0, 0, 0);
    box-sizing: border-box;
}

/* イベント選択 */
/* .selectdiv {
    position: relative;
    float: left;
    min-width: 200px;
    margin: 400px 33%;
  }

  select::-ms-expand {
  display: none;
  }

  .selectdiv:after {
    content: '<>';
    font: 17px "Consolas", monospace;
    color: #333;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 11px;
    top: 18px;
    padding: 0 0 2px;
    border-bottom: 1px solid #999;
    position: absolute;
    pointer-events: none;
  }
  .selectdiv select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    max-width: 320px;
    height: 50px;
    float: right;
    margin: 5px 0px;
    padding: 0px 24px;
    font-size: 16px;
    line-height: 1.75;
    color: #333;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    -ms-word-break: normal;
    word-break: normal;
  } */

  label.sel{
    box-shadow:0 3px 5px rgba(0,0,0,.2);
    padding:10px;
    background:white;
    width:260px;
    display:inline-block;
    position:relative;
    margin-left:25%;
  }
  
  select{
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    font-size:16px;
    color:#000000;
    border-radius:0;
    width:275px;
    z-index:2;
    background:transparent;
  }
  
  label.sel:after{
    content:"\25bc";
    font-size:16px;
    color:white;
    background:#f3a1a1;
    width:42px;
    text-align:center;
    line-height:3.2em;
    top:0;
    right:0;
    bottom:0;
    position:absolute;
    pointer-events:none;
  }
  
  option{
    border-bottom:1px solid #eaeaea;
    border-left:3px solid white;
    appearance:none;
  }
  
  option:hover{
    background-color:white;
    border-left:3px solid #000335;
  
  }

/* 下のボタン */
.btn--orange,
a.btn--orange {

  color: #fff;
  background-color:  rgb(255, 82, 41);
}
.btn--orange:hover,
a.btn--orange:hover {
  color: #fff;
  background:  rgb(255, 82, 41);
}

a.btn--radius {
   border-radius: 100vh;
}

input[type="submit"] {
    color: #fff;
    width: 10%;
    padding: 0.7%;
  background-color:  rgb(255, 82, 41);
  border-radius: 100vh;
  border: 1px solid #ffffff;
  vertical-align: middle;
  
}

/*--hover--*/
input[type="submit"]:hover {
    color: #fff;
    background: rgb(255, 82, 41);
    border-radius: 100vh;
    border: 1px solid #ffffff;
    vertical-align: middle;
  
}

