input[type=radio]+label:before{
    content: "";
    display: inline-block;
    background-size: contain;
    width: 80px;
    height: 80px;
}

input[type=radio][value="1"]+label:before{
    background-image: url(./img/1.png);
}
input[type=radio][value="2"]+label:before{
    background-image: url(./img/2.png);
}
input[type=radio][value="3"]+label:before{
    background-image: url(./img/3.jpeg);
}
input[type=radio][value="4"]+label:before{
    background-image: url(./img/4.png);
}
input[type=radio][value="5"]+label:before{
    background-image: url(./img/5.png);
}
input[type=radio][value="6"]+label:before{
    background-image: url(./img/6.png);
}

input[type=radio]:checked+label::before{
    border: 3px solid #000;
    box-sizing: border-box;
}

